In [2]:
# Bayes Ortalama Derecelendirme Puanı (Bayesian Average Rating Score)
# 5 yıldızlı ürün sıralama konularında karşımıza çıkabilir.

import pandas as pd
import math
import scipy.stats as st
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv("product_sorting.csv")

In [3]:
# Puanların dağılım bilgisi üzerinden sıralama yapacağız.
def bayesian_average_rating(n,confidence=0.95):
    if sum(n) == 0:
        return 0
    K = len(n)
    z = st.norm.ppf(1-(1-confidence) / 2)
    N = sum(n)
    first_part = 0.0
    second_part = 0.0
    for k, n_k in enumerate(n):
        first_part += (k+1) * (n[k] + 1) / (N + K)
        second_part += (k+1) * (k+1) * (n[k] + 1) / (N + K)
    
    score = first_part - z * math.sqrt((second_part-first_part * first_part) / (N+K+1))
    return score

In [4]:
# Puana göre hesapladık ve yeni bir değişkene atadık.
df["bar_score"] = df.apply(lambda x:bayesian_average_rating(x[[
                                                                "1_point",
                                                                "2_point",
                                                                "3_point",
                                                                "4_point",
                                                                "5_point"]]) ,axis=1)

In [6]:
df.sort_values("bar_score",ascending=False).head(10)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,bar_score
19,Alıştırmalarla SQL Öğreniyorum,Veri Bilimi Okulu,3155,4.8,235,200,31,4,0,0,4.729128
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,4.665857
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0,4.641679
5,Course_1,Instructor_2,4601,4.8,213,164,45,4,0,0,4.634477
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,4.595674
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24,4.568162
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,4.516038
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,4.515210
6,Course_2,Instructor_3,3171,4.7,856,582,205,51,9,9,4.507970
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,4.482079